.in-app-layout {
  min-height: 100vh;
  width: 100%;

  .topbar {
    position: fixed;
    top: 0;
    z-index: $topbar-index;
  }
  .sidebar {
    position: fixed;
    top: $topbar-height;
    left: 0;
    z-index: $sidebar-index;
    transition: all 0.2s ease-in-out;

    @include media("<desktop") {
      left: -100%;
    }

    &.open {
      left: 0;
    }
  }

  .main-content {
    @include media(">tablet") {
      margin-left: $sidebar-width;
    }
    padding-top: $topbar-height;
    background-color: $body-bg;
    min-height: 100vh;
  }
}
