.sidebar {
  width: $sidebar-width;
  background-color: #fff;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2.4375rem 0;

  .nav-link-group {
    margin-top: 1.9375rem;
    @include flex;
    flex-direction: column;

    h4 {
      font-size: 0.75rem;
      font-weight: 500;
      padding: 0 $sidebar-padding;
      text-transform: uppercase;
    }
    a {
      width: 100%;
    }
  }

  .switch-organization {
    margin-bottom: 2.625rem;
  }

  .nav-link {
    @include flex($align: center);
    gap: 0.625rem;
    padding: 0.625rem $sidebar-padding;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    .icon {
      width: 1rem;
      @include flex($align: center);
    }

    .dropdown.icon {
      width: 0.875rem;
      height: 0.875rem;
    }

    &:not(.switch-organization .nav-link) {
      &:not(.active) {
        opacity: 0.6;
      }
    }

    &:hover {
      background-color: rgba($primary-color, $alpha: 0.06);
    }
  }

  .nav-link.active {
    position: relative;
    opacity: 1;
    background-color: rgba($primary-color, $alpha: 0.06);

    &::before {
      width: 0.3rem;
      background-color: $primary-color;
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
}
