.topbar {
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  place-content: center;
  width: 100%;
  height: $topbar-height;
  padding: 1.875rem 0;
  background-color: #fff;
  box-shadow: 3px 0px 20px 0px #0000000a;

  .logo-container {
    width: $sidebar-width;
    padding: 0 $sidebar-padding;
    @include flex($align: center);

    button {
      width: 1.6rem;
      margin-right: 1rem;
      background: none;
      color: $text-color;
      @include flex($align: center);
      @include media(">tablet") {
        display: none;
      }
    }

    .logo {
      width: 9.05rem;
      @include flex($align: center);
    }
  }

  .topbar-content {
    @include flex($align: center, $justify: space-between);
    padding: 0 $body-padding;
    width: 100%;
    .icon {
      cursor: pointer;
      @include flex($justify: center, $align: center);
    }

    .search {
      input {
        padding: 0 1.2rem;
        width: 21.6rem;
      }

      .icon {
        background-color: $primary-color;
        padding: 0.75rem 1.2rem;
        height: 100%;
        border-top-right-radius: $input-radius;
        border-bottom-right-radius: $input-radius;
      }
    }

    .shortcuts {
      @include flex($align: center);
      gap: 1.875rem;

      .docs {
        font-family: Roboto;
        cursor: pointer;
      }

      .icon.search {
        display: none;
      }

      .icon.notification {
        width: 1.25rem;
      }

      .user-data {
        @include flex($align: center);
        gap: 0.625rem;
        font-weight: 500;
        cursor: pointer;

        img {
          border-radius: $rounded-full;
          aspect-ratio: 1;
          width: 3rem;
          height: 3rem;
        }

        .icon {
          width: 0.5rem;
          height: 0.5rem;
        }
      }
    }

    @include media("<desktop") {
      @include flex($align: center, $justify: flex-end);

      .search,
      .shortcuts .docs,
      .user-data .name {
        display: none;
      }

      .shortcuts .icon.search {
        display: block;
      }
    }
  }

  @include media("<desktop") {
    .logo-container,
    .topbar-content {
      padding: 0 $sidebar-padding;
    }
  }
}
