.input-container {
  width: 100%;
  font-size: 0.875rem;
  border: 1px solid;
  border-color: rgba($col-grey-500, 15%);
  border-radius: $input-radius;
  @include flex($align: center);

  &:focus-within {
    border-color: rgba($col-blue-800, 80%);
  }

  input {
    width: 100%;
    padding: 1rem 1.01rem;
    border-radius: $input-radius;
    border: 0;
    outline: 0;
    font-size: inherit;

    &:active,
    :focus {
      border: 0;
      outline: 0;
    }

    &::placeholder {
      color: $col-grey-500;
    }
  }

  .input-error {
    color: $col-red-600;
  }
}
