@use "/src/styles/mixins/layout.scss" as layout;
@use "/src/styles/base/variables" as variable;

.btn {
  @include layout.flex($align: center, $justify: center);
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.75rem 1.875rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: variable.$primary-color;
  color: white;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($color: variable.$primary-color, $amount: 10);
  }
}
