@use "/src/styles/index.scss" as v;

.user-details-page {
  .page-heading {
    @include v.flex($align: center, $justify: space-between);

    .button-row {
      @include v.flex($align: center, $justify: center);
      gap: 1.25rem;

      .blacklist-btn {
        border-color: v.$danger;
        color: v.$danger;
        &:hover {
          background-color: v.$danger;
          color: #fff;
        }
      }
    }
  }

  .basic-info {
    @include v.flex($align: center);
    flex-wrap: wrap;
    gap: 1.875rem;

    .user-info {
      @include v.flex($align: center);
    }

    .avater {
      @include v.flex($align: center, $justify: center);
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 50%;
      overflow: hidden;
      background: rgba(v.$col-blue-800, $alpha: 0.16);
      img {
        width: 100%;
        height: 100%;
      }
    }

    .name,
    .financial-info {
      h2 {
        font-size: 1.375rem;
        font-weight: 500;
      }

      p {
        font-size: 0.875rem;
        font-weight: 400;
        margin-top: 0.5rem;
      }
    }

    .name {
      margin-left: 1.25rem;
      p {
        color: v.$col-grey-500;
      }
    }

    .financial-info {
      p {
        margin-top: 0.5rem;
        font-size: 0.75rem;
      }
    }

    .tier {
      height: 5rem;
      font-size: 0.875rem;
      font-weight: 400;
      padding: 0 1.875rem;
      border-left: 1px solid rgba(v.$col-grey-500, $alpha: 0.2);
      border-right: 1px solid rgba(v.$col-grey-500, $alpha: 0.2);
      @include v.flex($align: center, $justify: center);
      flex-direction: column;

      p {
        margin-bottom: 0.675rem;
        font-weight: 500;
        color: v.$col-grey-500;
      }
    }
  }
}
