@use "/src/styles/index.scss" as v;

.card {
  background: #fff;
  border-radius: v.$card-radius;
  box-shadow: v.$card-shadow;
  border: 1px solid;
  border-color: rgba($color: v.$primary-color, $alpha: 0.06);
  padding: 1.875rem;
}
