@use "/src/styles/index.scss" as v;

.user-page {
  .analytics-card-row {
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include v.media("<desktop") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include v.media("<tablet") {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    gap: 1.625rem;

    .analytics-card {
      @include v.flex();
      flex-direction: column;

      .label {
        font-size: 0.875rem;
        font-weight: 500;
        margin-top: 0.75rem;
        text-transform: uppercase;
      }

      .value {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 0.875rem;
        line-height: 1.17em;
      }
    }
  }

  .users-table {
    position: relative;
    .more-column {
      width: 1.25rem;
      position: relative;
      button {
        width: 0.25rem;
      }
    }

    .filter-dropdown {
      top: 1.3rem;
      left: 0;
      width: 16.875rem;
      padding: 1.875rem 1.25rem 1.75rem;
      @include v.flex;
      flex-direction: column;
      gap: 1.25rem;
      transform-origin: top left;

      .input-container {
        width: 100%;
      }

      .button-row {
        @include v.flex($justify: space-between);
        width: 100%;
        margin-top: 0.625rem;

        .outlined-btn {
          border: 1px solid v.$col-grey-500;
          color: v.$col-grey-500;
          &:hover {
            background-color: v.$col-grey-500;
            color: white;
          }
        }
      }
    }
  }
}
