$col-grey-100: #fbfbfb;
$col-grey-500: #545f7d;
$col-blue-500: #5718ff;
$col-blue-800: #213f7d;
$col-yellow-600: #e9b200;
$col-purple-600: #df18ff;
$col-green-500: #39cd62;
$col-cyan-400: #39cdcc;
$col-orange-400: #f55f44;
$col-red-600: #ff3366;
$col-red-800: #e4033b;

$primary-color: $col-cyan-400;
$text-color: $col-blue-800;
$danger: $col-red-800;
$success: $col-green-500;
$warning: $col-yellow-600;
$inactive: $col-grey-500;
$body-bg: $col-grey-100;
$border-color: rgba($col-blue-800, $alpha: 0.10);
$sidebar-active-bg: rgba($primary-color, $alpha: 0.06);

$body-padding-mobile: 1rem;
$body-padding-tablet: 1.875rem;
$body-padding-desktop: 3.75rem;

// roundness
$card-radius: 0.25rem;
$input-radius: 0.5rem;
$rounded-full: 9999px;

//layout
$topbar-height: 6.25rem;
$sidebar-width: 17.6875rem;
$sidebar-padding: 1.875rem;

//z-index
$dropdown-index: 9;
$sidebar-index: 10;
$topbar-index: 11;


//shadow
$card-shadow: 3px 5px 20px 0px #0000000a;