$col-grey-500: #545f7d;
$col-blue-500: #5718ff;
$col-blue-800: #213f7d;
$col-yellow-600: #e9b200;
$col-purple-600: #df18ff;
$col-green-500: #39cd62;
$col-cyan-400: #39cdcc;
$col-orange-400: #f55f44;
$col-red-600: #ff3366;
$col-red-800: #e4033b;
$col-grey-100: #FBFBFB;


$primary-color: $col-cyan-400;